@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300;400;500&display=swap');

$serif: 'Lora', serif;
$sans-serif: 'Open Sans', sans-serif;

$prymaryColor: hsl(0, 0%, 13%);
$accentColor: hsl(18, 80%, 67%);
$darkText: hsl(0, 0%, 21%);
$gray: hsl(0, 0%, 70%);
$white: hsl(0, 0%, 94%);
$cardBackground: hsl(0, 0%, 16%);
$time-section-background: hsl(0, 0%, 16%);

$side-paddings: 0 20px;
$max-width: 1080px;
